{% extends 'base.html.twig' %}

{% block body %}
    <h1>Director</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ director.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ director.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ director.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('director_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('director_edit', { 'id': director.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
